@import "tailwindcss";

@font-face {
  font-family: Dana;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

@font-face {
  font-family: Dana-Bold;
  src: url("./../public/Fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}

@font-face {
  font-family: Morabba;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Medium.woff2");
}

@font-face {
  font-family: Morabba-Bold;
  src: url("./../public/Fonts/Morabba/woff2/Morabba-Bold.woff2");
}

.transition-md {
  transition: all 0.4s ease;
}

@theme{
  --text-md: 15px;
  --breakpoint-x: 400px;
  --breakpoint-xs: 468px;
  --breakpoint-md: 548px;
  --breakpoint-mmd: 768px;
  --breakpoint-mmds: 978px;
  --breakpoint-s: 200px;
  --text-x: 10px;
  --font-Dana: Dana;
  --font-Dana-Bold: Dana-Bold;
  --font-Morabba: Morabba;
  --font-Morabba-Bold: Morabba-Bold;

  --color-primary: #f9fafb;
  --color-primary-2: #ebedf0;
  --color-secondry: #ff00a6;
  --color-secondary-2: rgb(255, 237, 237);
  --color-secondary-3: rgb(189, 0, 3);
  --color-item: rgba(19, 20, 31, 0.08);
  --color-btnLogin: rgb(226, 0, 116);
  --color-line: rgba(19, 20, 31, 0.05);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

body {
  font-family: "Dana";
  box-sizing: border-box;
}

/* .container-customMobile{
  max-width: 96%;
  margin: 0 auto;
} */


@media screen and (max-width: 1200px) {

  .container-custom {
    width: 96%;
    margin: 0 auto;

  }

}

@media screen and (min-width: 1200px) {

  .container-custom {
    width: 1100px !important;

    margin: 0 auto;

  }

}

.slick-track {
  width: 1908px !important;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid rgb(189, 0, 3);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}